<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compression</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='compression.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="header-letter">D</span>ATA <span class="header-letter">C</span>OMPRESSION
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr active" aria-current="page"
                            href="/compression">Compression</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr" href="/decompression">Decompression</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="/compression" method="POST" id="inputform">
            <div class="row mt-5 comp-row r-1">
                <h2 style="font-size: 40px;" class="index-heading">Please upload the file to compress</h2>
                <label class="custom-file-upload">
                    <input type="file" id="inputfile" name="file" />
                    Upload Here
                </label>
            </div>
            <div class="row mt-5 comp-row r-2">
                <h2 style="font-size: 40px;" class="index-heading">Provide threshold value</h2>
                <div class="custom-file-upload">
                    <input type="number" step="0.01" id="threshold" name="thresh"/>
                </div>
            </div>
            <div class="row mt-5 comp-row r-2">
                <h2 style="font-size: 40px;" class="index-heading">Select the model to run</h2>
                <div class="select-div">
                    <select id="selectmodel" name="model" class="custom-select">
                        <option>Choose</option>
                        <option vlaue="m1">model 1</option>
                        <option value="m2">model 2</option>
                    </select>
                </div>
            </div>

            <div class="row mt-5 comp-row r-3">
                <h2 style="font-size: 40px;" class="index-heading">Click to Compress</h2>
                <button type="submit" class="compress">Compress</button>
            </div>

        </form>
    </div>
    <div id="loadingoverlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
            <div></div>
            <div class="loader-txt">Please wait while video is being compressed. It may take some time</div><br/>
        </div>
    </div>
</body>

</html>

<!-- <div class="col-sm-12 col-lg-6">
                <form action="" id="inputform">
                    <h2>Upload a File to Compress</h2>
                    <div class="row">
                        <input name="file" id="inputfile" class="form-control form-control-lg" type="file">
                    </div>
                    <div class="row">
                        <h2 class="mt-5">Select a Model to Run</h2>
                        <div class="row">
                            <select id="selectmodel" name="model" class="form-select" aria-label="select">
                                <option selected>Select from list</option>
                                <option value="one">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12 col-lg-6">
                            <button type="submit" class="custom-btn btn-9">Compress</button>
                        </div>
                    </div>


                </form>
            </div>
 -->
